{% extends "base.html" %}

{% block main %}
<div class="masterContainer">
  <div class="propertyImg">
    <img src="{{url_for('get_image', filename=queryProperty.filename)}}" alt="Property Image">
  </div>
  <div class="propertyContainer">
    <div class="title">
      <p>{{queryProperty.title}}</p>
    </div>
    <div class="btns">
      <button class="priceBtn">{{queryProperty.price}}</button>
      <button class="typeBtn">{{queryProperty.type.value}}</button>
    </div>
    <div class="description">
      <p>{{queryProperty.description}}</p>
    </div>
    
      <p>{{queryProperty.numberOfBedrooms}} Bedrooms</p>
    
    
      <p>{{queryProperty.numberOfBathrooms}} Bathrooms</p>
    
    
      <p class="location">{{queryProperty.location}}</p>
    
    <div class="email">
      <button>Email Realtor</button>
    </div>
  </div>
</div>
{% endblock %}