{% extends "base.html" %}

{% block main %}

<h1>Properties</h1>
  <ul>
    {% for property in allProperties %}
    <li>
      <div class="propertyContainer">
        <div class="photo">
          <img src="{{property.filename}}" alt="Property Image">
        </div>
        <div class="title">
          <p>{{property.title}}</p>
        </div>
        <div class="address">
          <p>{{property.address}}</p>
        </div>
        <div class="price">
          <button>{{property.price}}</button>
        </div>
        <div class="viewBtn">
          <a href="{{ url_for('findProperty', propertyid=property.id) }}">View Property</a>
        </div>
      </div> 
    <li>
    {% endfor %}
  </ul>
{% endblock %}