{% extends "base.html" %}

{% block main %}
<div class="propertyContainer">
  <div>
    <img src="{{queryProperty.filename}}" alt="Property Image">
  </div>
  <div class="title">
    <p>{{queryProperty.title}}</p>
  </div>
  <div class="price">
    <button>{{queryProperty.price}}</button>
  </div>
  <div class="type">
    <button>{{queryProperty.type}}</button>
  </div>
  <div class="description">
    <p>{{queryProperty.description}}</p>
  </div>
  <div class="numberOfBedrooms">
    <p>{{queryProperty.numberOfBedrooms}}</p>
  </div>
  <div class="numberOfBathrooms">
    <p>{{queryProperty.numberOfBathrooms}}</p>
  </div>
  <div class="location">
    <p>{{queryProperty.location}}</p>
  </div>
  <div>
    <button>Email Realtor</button>
  </div>
</div>
{% endblock %}