{% extends "base.html" %}

{% block main %}

<h1>Properties</h1>
  <ul>
    {% for property in allProperties %}
    <div class="masterContainer">
      <div class="propertyImg">
        <img src="{{url_for('get_image',filename=property.filename)}}" alt="Property Image">
      </div>
      <div class="propertyContainer">
        <div class="title">
          <p>{{property.title}}</p>
        </div>
        <div class="locationContainer">
          <p class="location">{{property.location}}</p>
        </div>
        <div class="price">
          <button class="priceBtn">{{property.price}}</button>
        </div>
        <div class="Btn">
          <form action="/properties/{{ property.id }}">
            <button class="viewBtn" type="submit">View Property</button>
        </form>
        </div>
      </div> 
    </div>
    {% endfor %}
  </ul>
{% endblock %}